@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    width: auto;
    padding: 0 40px;
}

.navbar{
    /* position: fixed; */
    width: 100%;
    padding: 15px 0;
    background: red;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin: auto;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.home {
    background-color: lightblue;
     height: 520px; 
    color: black;
    width: auto;
}

.home-content{
    width: 60%;
     padding: 0 0px;

}
.home .home-content{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.home .maxwidth{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;
    margin: auto 0 auto 40px;
}

.home .text{
   
    
}

.home .home-content .text1{
    font-size: 27px;
}

.home .home-content .text2{
    font-size: 75px;
}

.home .home-content .text3{
    font-size: 40px;
}

.home .home-content .text4{
     justify-content: space-between;
}


.jump {
    /* content: ''; */
    /* display: block; */
    height:      70px;
    margin-top: -70px;
}

.about .title{
    /* padding: 50px 0; */
    padding: 10px 10px ;
    background-color: brown;
    padding-top: 50;
    text-align: center;
}

.about .about {
    background-color: brown;
    height: 444px;
    display: flex;
    justify-content: space-between;
    gap:100px;

}

.about .about .para pre{
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    width: 100%;
}



.Projects {
    background-color: blueviolet;
    height: 444px;
}

.Projects .title{
    padding-top: 10px;
    padding-bottom: 10px;
  text-align: center;
}



.Contact {
    background-color: aqua;
    height: 100px;
}

.Contact .title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}





